body {
  font-family: arial;
}

h1,
h2 {
  color: green;
}

ul li a {
  color: red;
}

ol li a {
  color: blue;
}

#p1 {
  color: purple;
}

.p2 {
  color: yellow;
}

.cetak-tebal {
  font-weight: bold;
}

p.cetak-tebal {
  font-size: 40px;
}
