/* 
.container {
    display: flex;
    flex-direction: row | row-reverse | column | column-reverse;
    flex-wrap: nowrap | wrap | wrap-reverse;
    justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
    align-items: flex-start | flex-end | center | stretch | baseline;
    align-content: flex-start | flex-end | center | space-between | space-around;
}

.items {
    order:;
    flex-grow/flex:;
    align-self: auto | flex-start | flex-end | center | baseline | stretch;
}
*/
