div {
  width: 200px;
  height: 200px;
}

.satu {
  background-color: blueviolet;
}

.dua {
  background-color: chartreuse;
  position: relative;
  top: 30px;
  left: 30px;
}

.tiga {
  background-color: gold;
}
